/* ==============================================================================================
// MAIN APP COMPONENT STYLES
// SEE `/../resources/assets/scripts/react/App.js`
================================================================================================= */

.wrap {
  padding-left: 0;
  min-height: 100vh;

  @include min-width($_tablet-1120px-breakpoint) {
    padding-left: 260px;
  }

  @include min-width($_laptop-1500px-breakpoint) {
    padding-left: 300px;
  }
}
