/* ==============================================================================================
// HOME COMPONENT STYLES
// SEE `/../resources/assets/scripts/react/components/Home.js`
================================================================================================= */

.home {
  @include flex-container((direction: column, justify: center));
  min-height: 100vh;
}

.home__wrapper {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.home__title {
  margin-bottom: 10px;

  @include min-width($_tablet-960px-breakpoint) {
    margin-bottom: 15px;
  }
}

.home__tagline {
  font-size: 18px;
  line-height: 27px;
  max-width: 600px;
  margin: 0 auto;

  @include min-width($_tablet-960px-breakpoint) {
    font-size: 20px;
    line-height: 32px;
    max-width: 725px;
  }
}

.home__btn {
  @include button;
  @include font-family((type: default, weight: normal));
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 45px;
  padding: 0 27px;
  margin-top: 20px;
  height: 45px;
  background-color: c(blue);

  &::before {
    content: '';
    @include position(absolute, (top: auto, bottom: 0, left: 0));
    @include transition((properties: all));
    height: 2px;
    width: 100%;
    background-color: c(white);
    z-index: z(hidden);
    transform: scaleX(0);
    transform-origin: 0 0;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}
