/* ==============================================================================================
// NAV COMPONENT STYLES
// SEE `/../resources/assets/scripts/react/components/Nav.js`
================================================================================================= */

.nav {
  @include position(fixed, (top: 0, left: 0));
  @include transition((properties: all));
  width: 250px;
  height: 100vh;
  background-color: c(blue, dark);
  border-right: em(1) solid c(blue, light);
  z-index: z(nav);
  transform: translateX(-100%);

  @include min-width($_tablet-1120px-breakpoint) {
    width: 260px;
    transform: translateX(0);
  }

  @include min-width($_laptop-1500px-breakpoint) {
    width: 300px;
  }

  &--visible {
    transform: translateX(0);
  }
}

.nav__menu-btn {
  @include position(absolute, (top: 20px, left: 100%));
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: c(blue, dark);
  border: em(1) solid c(blue, light);

  @include min-width($_tablet-1120px-breakpoint) {
    @include hide;
  }

  &::before {
    content: none;
  }

  &:hover {
    &::before {
      transform: unset;
    }
  }

  &-line {
    @include position(absolute, (left: 11px));
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: c(blue, lighter);

    &:nth-child(1) {
      top: 17px;
    }

    &:nth-child(2) {
      top: 23px;
    }

    &:nth-child(3) {
      top: 29px;
    }
  }
}

.nav__contents {
  @include flex-container((direction: column));
  width: 100%;
  height: 100%;
}

.nav__image {
  width: 100%;
  text-align: center;
  padding: em(20) 0;
  border-bottom: em(1, $font-size-base) solid c(blue, light);
}

.nav__image-link {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 7px solid c(blue, light);
  overflow: hidden;
  vertical-align: middle;

  @include min-width($_tablet-1120px-breakpoint) {
    width: 200px;
    height: 200px;
  }
}

.nav__menu {
  width: 100%;
  padding: 0 5px;
}

.nav__menu-list-item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 1px;
  }

  a {
    @include position;
    @include transition((properties: all));
    display: block;
    letter-spacing: em(0.75, $font-size-base);
    padding: em(5, $font-size-base) 0;
    text-transform: uppercase;
    font-weight: 600;

    &::before {
      content: '';
      @include position(absolute, (top: 0, right: 100%, left: 0));
      @include transition((properties: all));
      width: 0;
      height: 100%;
      background-color: c(blue, light);
      visibility: hidden;
      z-index: z(hidden);
    }

    &:hover {
      color: c(blue);

      &::before {
        width: 100%;
        visibility: visible;
      }
    }

    &.active {
      color: c(white);

      &::before {
        background-color: c(blue);
        width: 100%;
        visibility: visible;
      }
    }
  }
}

.nav__copyright {
  width: 100%;
  text-align: center;
  padding: em(15, $font-size-base) 0;
  border-top: em(1, $font-size-base) solid c(blue, light);
}
