# WordPress Ignores
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/*.php
/wp-admin
/wp-includes
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
/wp-content/themes/twenty*

# User-specific Ignores
.DS_Store
*.sublime-*
*.code-*
*.vscode
*debug*
*.sql
*.log
*.todo
