/* ==============================================================================================
// GLOBAL MAPS
================================================================================================= */

/**
 * Color Palette
 */
$colors: (
  white: (
    base: #fff,
  ),
  blue: (
    lighter:#a4acc4,
    light: #2e344e,
    base: #037fff,
    dark: #191d2b,
    darker: #10121b,
  ),
  black: (
    base: #000,
  ),
);

/**
 * Font configuration
 */
$fonts: (
  default: (
    family: 'Nunito',
    fallbacks: "Helvetica Neue, Helvetica, sans-serif",
    styles: (
      normal: normal,
    ),
    weights: (
      normal: 400,
      bold: 700,
    ),
  ),
  headings: (
    family: 'Portsmouth',
    fallbacks: "Times New Roman, Times, serif",
    styles: (
      normal: normal,
    ),
    weights: (
      normal: 400,
    ),
  ),
);

/**
 * Media Breakpoints
 */
$breakpoints: (
  mobile: (
    sm: 20em,
    md: 30em,
    lg: 40em
  ),
  tablet: (
    sm: 50em,
    md: 60em,
    lg: 70em
  ),
  laptop: (
    sm: 80em,
    md: 90em,
    lg: 100em
  ),
  desktop: (
    sm: 110em,
    md: 120em,
    lg: 130em
  ),
  tv: (
    sm: 140em,
    md: 150em,
    lg: 160em
  )
);

/**
 * Z-Index layers
 */
$z-layers: (
  abyss: -9999,
  hidden: -1,
  default: 1,
  nav: 3000,
  subnav: 3005,
  sticky: 4000,
  overlay: 5000,
  modal: 5005,
  above-all: 9999
);

/* ==============================================================================================
// GLOBAL VARIABLES
================================================================================================= */

/*
 * Typography
 */
$font-size-base: 18px;
$font-line-height: 1.6;

/*
 * Headings
 */
$font-size-h6: $font-size-base;
$font-size-h5: $font-size-h6;
$font-size-h4: $font-size-h5;
$font-size-h3: $font-size-h4;

$font-size-h2--mobile: 35px;
$font-size-h2--desktop: 42px;

$font-size-h1--mobile: $font-size-h2--desktop;
$font-size-h1--desktop: 52px;

/*
 * Buttons
 */
$font-size-button: $font-size-base * 0.8; // 14.5px (with 18px as reference point)

/*
 * Containers
 */
$container-max-width: 1600px;
$container-gutter: 20px;

/*
 * Media query breakpoints
 */
$_mobile-320px-breakpoint: (device: mobile, size: sm);
$_mobile-480px-breakpoint: (device: mobile);
$_mobile-640px-breakpoint: (device: mobile, size: lg);

$_tablet-800px-breakpoint: (device: tablet, size: sm);
$_tablet-960px-breakpoint: (device: tablet);
$_tablet-1120px-breakpoint: (device: tablet, size: lg);

$_laptop-1280px-breakpoint: (device: laptop, size: sm);
$_laptop-1440px-breakpoint: (device: laptop);
$_laptop-1500px-breakpoint: (device: custom, size: 93.75em);
$_laptop-1600px-breakpoint: (device: laptop, size: lg);

$_desktop-1760px-breakpoint: (device: desktop, size: sm);
$_desktop-1920px-breakpoint: (device: desktop);
$_desktop-2080px-breakpoint: (device: desktop, size: lg);

$_tv-2240px-breakpoint: (device: tv, size: sm);
$_tv-2400px-breakpoint: (device: tv);
$_tv-2560px-breakpoint: (device: tv, size: lg);
