/* ==============================================================================================

// SVG SIZE DEFAULTS

================================================================================================= */

/*
* Make sure sprite map is invisible but not hidden
* @see https://github.com/emilbjorklund/svg-weirdness/issues/12
*/
.spritemap {
  @include show;

  width: 0;
  height: 0;
  overflow: hidden;
}

/*
* NOTE: All sizes here assume font size context of `$font-size-base`
* @uses `../02_functions/_unit-conversions.scss`
* @see `../01_common/_config.scss`
*/
svg.icon {
  max-width: 100%;
  height: auto;

  // add icons here
  // &.logo {}
}
