/* ==============================================================================================

// CLEARFIX MIXIN

================================================================================================= */

@mixin clearfix() {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
