/* ==============================================================================================

// CONTROLS WIDTH OF ELEMENT IN A GRID

================================================================================================= */

// credit to Chris Coyier
// https://css-tricks.com/video-screencasts/132-quick-useful-case-sass-math-mixins/)

/**
 * Defines the width of an element when placed in a grid of elements
 *
 * @param  {Integer} 	$numPerRow 		defines how many grid elements per row
 * @param  {Number} 	$margin    		defines an (optional) gutter width between elements
 *
 * @return 							            returns css styles for a grid element based on input parameters
 */
@mixin row-machine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);

  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }

  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
