/* ==============================================================================================

// TYPOGRAPHY MIXINS

// @see `../01_common/_config.scss for variable definitions

================================================================================================= */

/************ Internal variables ************/

/************ Placeholder selector for setting defaults ************/
%heading {
  margin: 0;
  color: c(white);
}

/************ Heading definitions ************/

/**
 * H1 styles
 */
@mixin h1() {
  @extend %heading;

  font-size: $font-size-h1--mobile;
  line-height: 50px;

  @include min-width($_tablet-960px-breakpoint) {
    font-size: $font-size-h1--desktop;
    line-height: 64px;
  }
}

/**
 * H2 styles
 */
@mixin h2() {
  @extend %heading;

  position: relative;
  font-size: $font-size-h2--mobile;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;

  @include min-width($_tablet-960px-breakpoint) {
    font-size: $font-size-h2--desktop;
    line-height: 53px;
  }

  &::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100px;
    background-color: c(blue);
    border-radius: 100px;
  }
}

/**
 * H3 styles
 */
@mixin h3() {
  @extend %heading;

  position: relative;
  font-size: $font-size-h3--mobile;
  line-height: 20px;
  padding-bottom: 10px;

  @include min-width($_tablet-960px-breakpoint) {
    font-size: $font-size-h3--desktop;
    line-height: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    height: 2.5px;
    width: 100px;
    background-color: c(white);
    border-radius: 100px;
  }
}

/**
 * H4 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h4( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h4, $context);
}

/**
 * H5 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h5( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h5, $context);
}

/**
 * H6 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h6( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h6, $context);
}
