/* ==============================================================================================

// TYPOGRAPHY MIXINS

// @see `../01_common/_config.scss for variable definitions

================================================================================================= */

/************ Internal variables ************/

/************ Placeholder selector for setting defaults ************/
%heading {
  margin: 0;
}

/************ Heading definitions ************/

/**
 * H1 styles
 */
@mixin h1() {
  @extend %heading;

  font-size: $font-size-h1--mobile;
  line-height: 50px;
  color: c(white);

  @include min-width($_tablet-960px-breakpoint) {
    font-size: $font-size-h1--desktop;
    line-height: 64px;
  }
}

/**
 * H2 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h2( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h2, $context);
}

/**
 * H3 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h3( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h3, $context);
}

/**
 * H4 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h4( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h4, $context);
}

/**
 * H5 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h5( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h5, $context);
}

/**
 * H6 styles
 *
 * @param  {Number} $context: $font-size-base       Should be in `px` units
 */
@mixin h6( $context: $font-size-base ) {
  @extend %heading;

  font-size: em($font-size-h6, $context);
}
