/* ==============================================================================================

// SCREEN READER MIXINS

================================================================================================= */

%screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// visually hidden but still readable
@mixin screen-reader {
  @extend %screen-reader;
}

// visually hidden unless focused on via keyboard
@mixin screen-reader-focusable {
  @extend %screen-reader;

  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
